
.left{
  background-image: url('https://cdn.dribbble.com/users/3409191/screenshots/6302425/image.png');
  background-size: center;
  height: 580px;
  border-radius: 10px 0 0 10px;
  margin: 0;
color: whitesmoke;
padding-left: 2px



}
.right{
  padding: ;
}

   .form{
    margin-bottom: 20px;
    padding-bottom: 20px;
   }
  .form-group{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    font-family: 'Quattrocento', serif;
  }
  .form-check-label{
    color: rgb(255, 255, 255);
  }
  